.photos {
    margin-left: 70px;
}

.btnCol {
    width: 300px;
    height: 100px;
    background-color: #D9D9D9;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    border-radius: 30px;
    border: 0;
	font-family: 'Inter', sans-serif;
    font-style: bold;
	font-size: 16px;
}

.title {
    line-height: 48px;
    margin-top: 25px;
    text-align: center;
	font-family: 'Inter', sans-serif;
    font-style: bold;
	font-size: 48px;
    margin-bottom: 25px;
}

.photosmaindiv {
    margin-left: 210px;
}