@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Julius+Sans+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.btn {
	color: #6B6B6B;
	font-weight: bold;
	text-decoration: none;
	font-family: 'Inter', sans-serif;
	transition: background-color .2s ease;
}

.btn:hover {
	color: #000;
}

.active {
	composes: btn;
	color: #000;
}

.menu{
	background-color: #fff;
	height: 1080px;
	width: 320px;
}

.title{
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
	font-size: 24px;
}

.qwerty{
	height: 40px;

}